@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h3>Search for a School by Name</h3>
<input id="list" list="schooldata" style="width: 200px"/>
<datalist id="schooldata">
    
    
</datalist>
<input type="button" id="submit" value="Search" />
<input type="button" id="clear" value="Clear" />

<table id="searchout" style="width:35%">
    <tr>
        <th>School Name</th>
        <th>Crime Rate</th>
    </tr>
</table>

@section Scripts {
    <script>
    $(function() {
        loadData();

        var datalist = [];

        $("#submit").on("click", function () {

            
            var searchterm = $("#list").val();
            var crimerate = "";
            console.log(datalist[12][0]);
            console.log(datalist[12][1]);

            for (i = 0; i < datalist.length; i++) {

                if (datalist[i][0] = searchterm) {
                    crimerate = datalist[i][1];

                    

                }
            } 
            $("#searchout").append('<tr><td>'+ searchterm +'</td><td>'+ crimerate +'</td></tr>')


        });
        $("#clear").on("click", function () {

            $("#searchout").empty();
            
            $("#searchout").append('<tr><th>School Name</th><th>Crime Rate</th></tr>');


        });


                function loadData() {
                    $.ajax({
                        url: "https://localhost:44322/index",
                        dataType: 'json',
                        contentType: 'application/json',
                        method: 'GET'
                    }).done(function (responseJSON, status, xhr) {
                        $.each(responseJSON, function (index, item) {

                            var sname = item.school_name;
                            var crate = item.avgofnocrim_n;

                            var ndata = [sname, crate];

                            datalist.push(ndata);

                            //console.log(ndata);

                        $("#schooldata").append('<option value="' + item.school_name + '">');

                            //console.log(item.school_name);

                        });
                       // console.log(datalist);



                    }).fail(function(xhr,status,error) {
                        console.log("fail", xhr, status, error);
                        alert("There was an error retrieving the data");
                    });

            };
        });
    </script>
}