@page
@model PrivacyModel
@{
    ViewData["Title"] = "School Details with Crime Report";
    List<CombinedData.MergedData>
    mergedList = (List<CombinedData.MergedData>)ViewData["MergedList"];
}<style>
    body {
        background-color: #a29090;
    }
    #clear, #submitCity, #list, #submitSchool, #city-area {
        margin: 5px 0px;
    }
    #history {
        position: absolute;
        width: 400px;
        height: 300px;
        margin-left: 700px;
        border: 1px solid black;
        overflow: hidden;
    }
    .recent-search {
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
    }
</style>
<div id="history">
    <h3 style="padding:5px; border:2px solid black;">Recent Search</h3>
    <div id="results"></div>
</div>

<h1>@ViewData["Title"]</h1>

<h3>This Page provides user two functionality:</h3>
           1: You can compare different Schools.
<br />
           2: You can get the list of all the schools in any city.
<form method="post">
    <input id="list" list="schooldata" style="width: 200px" /> Enter School Name
    <datalist id="schooldata">
    </datalist>
    <br /> <input type="submit" id="submitSchool" value="CompareSchool" /><br />
    <br /> <input id="city-area" list="citydata" style="width: 200px" /> Enter City
    <datalist id="citydata">
    </datalist>
    <!--  <select name="cityAreaTemp">
        <option value="none" disabled hidden>
            Select an Option
        </option>
        <option value="ASTORIA">ASTORIA</option>
        <option value="BAYSIDE">BAYSIDE</option>
        <option value="BELLEROSE">BELLEROSE</option>
        <option value="BRONX">BRONX</option>
        <option value="BROOKLYN">BROOKLYN</option>
        <option value="CAMBRIA HEIGHTS">CAMBRIA HEIGHTS</option>
        <option value="CORONA">CORONA</option>
        <option value="ELMHURST">ELMHURST</option>
        <option value="FAR ROCKAWAY">FAR ROCKAWAY</option>
        <option value="FLUSHING">FLUSHING</option>
        <option value="JAMAICA">JAMAICA</option>
        <option value="LONG ISLAND CITY">LONG ISLAND CITY</option>
        <option value="MANHATTAN">Manhattan</option>
        <option value="NEW YORK">NEW YORK</option>
        <option value="OZONE PARK">OZONE PARK</option>
        <option value="ROCKAWAY PARK">ROCKAWAY PARK</option>
    </select> -->

    <br /> <input type="submit" id="submitCity" value="SearchCity" />
    <br /><input type="button" id="clear" value="Clear" />
</form>
        </hr>
<table class="table table-striped" id="searchout">
    <tr>
        <th>School Name</th>
        <th>Crime Rate</th>
        <th>City</th>
        <th>School Email</th>
        <th>Website</th>
        <th>Graduation rate</th>
        <th>Attendance rate</th>
        <th>Address</th>
    </tr>
</table>

@section Scripts {
    <script>
        $(function () {
            loadData();

            var datalist = [];

            $("#submitCity").on("click", function (e) {
                e.preventDefault();

                var searchterm = $("#city-area").val();
                $('#results').append('<div class="recent-search">'+searchterm+"</div>");
                $("#list").val("");
                $("#city-area").val("");
                console.log(datalist[12][0]);
                console.log(datalist[12][1]);
                $("#searchout").empty();

                $("#searchout").append('<th>School Name</th><th>Crime Rate</th><th>City</th><th>School Email</th><th>Website</th><th>Graduation rate</th><th>Attendance rate</th><th>Address</th>');

                for (i = 0; i < datalist.length; i++) {

                    if (datalist[i][2] == searchterm) {
                        var row = "";
                        for (var j = 0; j < 8; j++) {
                            row += '<td>' + datalist[i][j] + '</td>';
                        }
                        $("#searchout").append('<tr>' + row + '</tr>');
                    }
                }
            });

            $("#submitSchool").on("click", function (e) {
                e.preventDefault();
                var searchterm = $("#list").val();
                $('#results').append('<div class="recent-search">'+searchterm+"</div>");
                $("#list").val("");
                $("#city-area").val("");
                var crimerate = "";
                console.log(datalist[12][0]);
                console.log(datalist[12][1]);
                //$("#searchout").empty();

                // $("#searchout").append('th>School Name</th><th>Crime Rate</th><th>City</th><th>School Email</th><th>Website</th><th>Graduation rate</th><th>Attendance rate</th><th>Address</th>');


                for (i = 0; i < datalist.length; i++) {

                    if (datalist[i][0] == searchterm) {
                        var row = "";
                        for (var j = 0; j < 8; j++) {
                            row += '<td>' + datalist[i][j] + '</td>';
                        }
                        $("#searchout").append('<tr>' + row + '</tr>');
                    }
                }
            });
            $("#clear").on("click", function () {
                $("#list").val("");
                $("#results").empty();
                $("#city-area").val("");

                $("#searchout").empty();

                $("#searchout").append('<th>School Name</th><th>Crime Rate</th><th>City</th><th>School Email</th><th>Website</th><th>Graduation rate</th><th>Attendance rate</th><th>Address</th>');


            });


            function loadData() {
                var cities = new Set();
                var optionCount = 0;
                $.ajax({
                    url: "https://localhost:44322/mergedRaw",
                    dataType: 'json',
                    contentType: 'application/json',
                    method: 'GET'
                }).done(function (responseJSON, status, xhr) {
                    $.each(responseJSON, function (index, item) {
                        optionCount++;
                        var sname = item.school_name;
                        var crate = item.avgofnocrim_n;
                        var city = item.city;
                        var semail = item.school_email;
                        var website = item.website;
                        var grate = item.graduation_rate;
                        var arate = item.attendance_rate;
                        var address = item.address;

                        cities.add(city);

                        var ndata = [sname, crate, city, semail, website, grate, arate, address];

                        datalist.push(ndata);

                        //console.log(ndata);

                        $("#schooldata").append('<option value="' + item.school_name + '">');

                        //console.log(item.school_name);

                    });
                    console.log(optionCount);
                    // console.log(datalist);
                    for (var cityitem of cities) {
                        $("#citydata").append('<option value="' + cityitem + '">');
                    }



                }).fail(function (xhr, status, error) {
                    console.log("fail", xhr, status, error);
                    alert("There was an error retrieving the data");
                });

            };
        });
    </script>
}

